main{
  max-width: 1000px;
  margin: 0 auto;
}

/* Bootstrap classes rework */
.title{
  font-size: 2.5rem;
}

.subtitle{
  font-size: 2rem;
}

/* Navbar elements */

.navbar-container {
  max-width: 1200px;
  margin: 0 auto; /* Center the navbar content */
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
  }
.navbar .navbar-toggler:active {
    transform: scale(0.95);
  }


  /* Landing page */

.title, 
.quote, 
.subtitle{
  letter-spacing: 2px;
}

.title{
  font-size: 4em;
  font-weight: 900;
  margin: 1.5rem auto;
}

.quote{
  font-style: italic;
  margin-top: -1.5rem;
}

.subtitle{
  font-weight: 700;
  text-decoration: underline;
}

.carousel{
  border: 1px solid grey;
  margin: 2rem auto;
}

/* Footer */


footer{
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid black;
}

.credits{
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2px;
  font-style: italic;
  font-size: .85em;
}

/* Blog */

.blog h3{
  padding-left: 1rem;
  text-decoration: underline;
}