{%extends 'layout.html'%}

{%block main%}

<main>
    <div class="container blog">
        <h1 class="title text-capitalize">How did I approach it?</h1>
        <h3>Accomplishment and experiences:</h3>
        <p>This blog is the place I use to explain how I understood and approached the learning of a course, a concept, a programming language.<br>You can consider it as a 'note to myself'. While creating it I wanted to share my point of view about the subject discussed, and maybe help you understand my mental process or help you in your.</p>
    </div>
    <div class="blog container">
        <h1 class="blog-title text-capitalize">article title</h1>
        <h2 class="blog-sub">Introduction sentence</h2>
        <time class="blog-date">Friday, 14th of May, 2023</time><br>
        <img src="#" class="img-fluid blog-img" alt="Subject">
        <p class="blog-txt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel fermentum velit. Aenean dignissim lorem sed suscipit dignissim. Quisque euismod eros et odio ultricies rhoncus. Sed justo arcu, tempor eu elementum non, facilisis vitae massa. Nulla sodales semper suscipit. Sed felis augue, lobortis vel fringilla in, tempus ut justo. Curabitur ornare lectus dolor, in vulputate dolor sollicitudin quis. Morbi sit amet commodo erat. Donec vehicula faucibus metus, eget facilisis ligula mollis a.

            Nulla id purus tincidunt, fringilla nulla a, tincidunt sapien. Ut eleifend a nunc sed elementum. Curabitur ultricies sapien eros, ac molestie nibh auctor sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent non egestas velit, a fringilla enim. Maecenas ipsum massa, dignissim sed scelerisque nec, bibendum nec eros. Donec lobortis pellentesque purus, quis pharetra mauris lobortis id. Nullam dignissim enim vestibulum lacinia consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque consequat porta quam eget posuere. In nec varius orci, sit amet ultricies risus. Suspendisse quis nisi et tortor interdum semper. Sed feugiat tortor ut odio porttitor, vitae porta metus mattis. Donec eu ipsum at ex mattis condimentum. </p>
        <p class="blog-footer">by Louis G.</p>
    </div>
</main>

{%endblock%}