{%extends 'layout.html'%}

{%block main%}

<main class="blog">
    <div class="container blog">
        <h1 class="title text-capitalize">How did I approach it?</h1>
        <p>This blog is the place I use to explain how I understood and approached the learning of a course, a concept, a programming language.<br>You can consider it as a 'note to myself'. While creating it I wanted to share my point of view about the subject discussed, and maybe help you understand my mental process or help you in your.</p>
    </div>
    <div class="card-container container">
        <div class="card text-center">
            <div class="card-header">
              Article #3
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>PCA Algorithm</strong></h5>
              <p class="card-text">How does <strong>Principal Components Analysis</strong> works? Decomposition algorithm, step by step, so you can <strong>easily understand</strong> it.</p>
              <a href="./article3" class="btn">Full article</a>
            </div>
            <div class="card-footer text-body-secondary">
              01/07/2023
            </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            Article #2
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>List Comprehension</strong></h5>
              <p class="card-text">Understand <strong class="text-capitalize">list comprehension</strong> in Python. The skill that allows you to write shorter code to create lists.</p>
              <a href="./article2" class="btn">Full article</a>
            </div>
            <div class="card-footer text-body-secondary">
              05/06/2023
            </div>
          </div>
          <div class="card text-center">
              <div class="card-header">
                Article #1
              </div>
              <div class="card-body">
                <h5 class="card-title"><strong>Python Web Framework</strong></h5>
                <p class="card-text">How to start a development project with <strong>Django</strong>? Here comes the steps to initialize it.</p>
                <a href="./article1" class="btn">Full article</a>
              </div>
              <div class="card-footer text-body-secondary">
                09/06/2023
              </div>
          </div>
    </div>
  </main>
{%endblock%}