{%extends "layout.html"%}

{%block main%}

<main class="about-container">
    <div>
        <h1 class="title text-capitalize">about me</h1>
    </div>
      <div class="accordion experiences" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="display-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Curriculum Vitae
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a href="./static/img/exp/myCV.png" alt="myCV" target="_blank"><img src="{{ url_for('static', filename='/img/exp/myCV.png') }}" alt="CV-Louis-Gokelaere"></a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="display-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              certificates and degrees
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li>
                  <strong>Hôtel Management Bachelor degree</strong>
                  <br>
                  <a href="https://www.vatel-brussels.be/" target="_blank" alt="Vatel Brussels" class="school-links">Vatel Brussels</a>
                  <br>
                  <i>September 2019 - June 2021</i>
                </li>
                <li>
                  <strong>Mathematics for Machine Learning specialization</strong>
                  <br>
                  <a href="https://www.coursera.org/specializations/mathematics-machine-learning?skipBrowseRedirect=true" target="_blank" alt="Coursera" class="school-links">Coursera</a> certificate by Imperial College of London
                  <br>
                  <i>May 2023 - June 2023</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="display-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              In progress...
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Not yet coded... Come back later to see what has been created ! 🚀
            </div>
          </div>
        </div>
      </div>
      
</main>

{%endblock%}