{% extends 'layout.html' %}

{%block main%}
<main>
    <div class="container landing_page">
        <div class="container">
            <h1 class="title text-capitalize">Programming <br>portfolio</h1>
            <p class="quote">by LowGok/Louis G.</p>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel-dark carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='/img/Blue.png') }}" class="d-block w-100" alt="Blue">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='/img/Sand.png') }}" class="d-block w-100" alt="Sand">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='/img/Pink.png') }}" class="d-block w-100" alt="Pink">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container">
        <h2 class="subtitle text-capitalize">my motivations</h2>

        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nulla commodi, illum atque consequatur deleniti amet aut fugiat, quos, veniam molestiae recusandae velit? 
            Earum, in atque enim nisi ut veniam magnam!
        </p>

        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sequi, ex dolor, numquam nobis excepturi libero aliquam quae odit laborum iure officiis totam sed culpa consectetur 
            harum molestiae! Nulla, explicabo suscipit.
        </p>
    </div>
</main>
{%endblock%}