{% extends 'layout.html' %}

{%block main%}
<main>
    <div class="container">
        <div class="container landing_page">
            <h1 class="title text-capitalize">Programming portfolio</h1>
            <p>by LowGok/Louis G.</p>
        </div>
        <div class="container landing_page">
            <img src="#" class="img-fluid" alt="landing_page">
        </div>
    </div>
    <div class="container">
        <h2 class="subtitle text-capitalize">my motivations</h2>

        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nulla commodi, illum atque consequatur deleniti amet aut fugiat, quos, veniam molestiae recusandae velit? 
            Earum, in atque enim nisi ut veniam magnam!
        </p>

        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sequi, ex dolor, numquam nobis excepturi libero aliquam quae odit laborum iure officiis totam sed culpa consectetur 
            harum molestiae! Nulla, explicabo suscipit.
        </p>
    </div>
</main>
{%endblock%}