{% extends 'layout.html' %}

{%block main%}
<main>
  <div class="container landing_page">
    <div class="container">
      <h1 class="title text-capitalize">Programming<br>portfolio</h1>
      <p class="quote">by LowGok/Louis G.</p>
      <div class="container">
          <br>
          <p class="landing-page-txt">
            I am a <strong>machine learning & AI student</strong>, with growing interests in new technologies. <br>
            As a hobby I enjoy programming algorithms, blogging about what I learnt, and read about self-improvements and human behaviors. 
          </p>
          <br>
      </div>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel-dark carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="https://coursera.org/verify/C6EYJU99BMXV" target="_blank"><img src="{{ url_for('static', filename='/img/linalg-certif.png') }}" class="d-block w-100" alt="Linear Algebra certificate"></a>
              </div>
              <div class="carousel-item ">
                <a href="https://coursera.org/verify/EVYRSNJDMV5K" target="_blank"><img src="{{ url_for('static', filename='/img/multivar-calc.png') }}" class="d-block w-100" alt="Multivariate Calculus certificate"></a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</main>
{%endblock%}