{% extends 'layout.html' %}

{%block main%}

<main class="container projects">
    <div>
        <h1 class="title text-capitalize">Projects</h1>
        <p>My projects are also <strong>available on Github</strong>. 
            I thought it would be more clear to go through them here, 
            feel free to open any of them for a brief 
            explanation and the link to the selected project repository.
        </p>
    </div>
    <div class="card-container contrainer">
        <div class="card">
            <img src="{{ url_for('static', filename='/img/projects/orth_proj.png') }}" class="card-img-top" alt="First Card">
            <div class="card-body">
            <h5 class="card-title">Orthogonal projection</h5>
            <p class="card-text">A notebook that process the projection of the desired vector onto the desired N-dimensional basis</p>
            <a href="#" class="btn btn-primary">Read more... (not developped)</a>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='/img/projects/PCA_scatter.png') }}" class="card-img-top" alt="Second Card">
            <div class="card-body">
            <h5 class="card-title">PCA Algorithm</h5>
            <p class="card-text">PCA algorithm coded almost from scratch. Contains tests data and MNIST digit recognition dataset.</p>
            <a href="#" class="btn btn-primary">Read more... (not developped)</a>
            </div>
        </div>
        </div>
    </div>
</main>

{%endblock%}